%nav.navbar.navbar-default
  .navbar-header
    - if current_user
      = render 'layouts/logged_in_collapsed'
    .navbar-brand
      #logo= link_to image_tag('logo.gif'), root_path
  .collapse.navbar-collapse{id: "fcamc-top-nav"}
    - if current_user
      = render 'layouts/logged_in_expanded'
